.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-row {
  display: flex;
}

.square {
  width: 60px;
  height: 60px;
  font-size: 24px;
  cursor: pointer;
}

.status {
  margin-top: 20px;
}

.restart {
  padding: 10px 15px;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  width: 150px;
  text-align: center; /* Center text inside the button */
  cursor: pointer;
  margin-top: 20px; /* Space from the status text */
}

.title{
  font-size:20px;
  margin-bottom: 20px;
}
